.header-name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #5a5d72;
}

.admin-info {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.0016em;
    color: #414562;
}
