<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
    <app-loader></app-loader>
</div>
<div>
  <div class="page-info">
    <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description" *ngIf="!isLoading">
      Set up NetSuite Subsidiary.
      <a href="https://www.fylehq.com/help/en/articles/4424248-onboarding-process-to-set-up-fyle-netsuite-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
    </div>
  </div>
    <form class="general-mappings--form" [formGroup]="subsidiaryForm" (ngSubmit)="submit()" *ngIf="!isLoading">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div class="mat-body-strong">
          NetSuite Subsidiary
          <mandatory-field></mandatory-field>
        </div>
        <mat-form-field floatLabel="always" appearance="outline" required>
          <mat-select class="general-mappings--input" placeholder="Select NetSuite Subsidiary"
            formControlName="netsuiteSubsidiaries">
            <mat-option *ngFor="let netsuiteLocation of netsuiteSubsidiaries; let i = index"
              [value]="netsuiteSubsidiaries[i].destination_id">
              {{netsuiteSubsidiaries[i].value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mandatory-error-message listName="subsidiary" *ngIf="subsidiaryForm.controls.netsuiteSubsidiaries.touched && !subsidiaryForm.controls.netsuiteSubsidiaries.valid"></mandatory-error-message>
        <button [disabled]="subsidiaryMappingDone" class="configurations--save-btn" mat-flat-button color="primary" (click)="submit()" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>