<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
   <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="start stretch">
   <div class="info-box">
      Set a rule to skip the export of expenses from Fyle to Netsuite
   </div>
   <div *ngIf="!isLoading" class="info-box" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="75" class="info-box-text">
         You could choose to skip the export of certain expenses from Fyle to Netsuite by setting up a conditional rule.
      </div>
   </div>
   <div fxFlex="20"></div>
   <form class="skip-export--form" [formGroup] = "excludeForm" fxLayout="column" fxLayoutAlign="start stretch">
      <!-- <div formArrayName="expenseFields"> -->
      <div fxLayout="row" fxLayoutAlign="start center">
         <div class="fields-header">Condition</div>
         <mandatory-field></mandatory-field>
         <div fxFlex="17"></div>
         <div class="fields-header">Operator</div>
         <mandatory-field></mandatory-field>
         <div fxFlex="18"></div>
         <div class="fields-header">Value</div>
         <mandatory-field></mandatory-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
         <mat-form-field floatLabel="always" fxFlex="25" fxLayoutAlign="start stretch" appearance="outline">
            <mat-select placeholder="Select the condition" formControlName="condition">
               <mat-option *ngFor = "let obj of conditional_field" [value]="obj.value">
                  {{ obj.label }}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field floatLabel="always" fxFlex="25" fxLayoutAlign="start stretch" appearance="outline">
            <mat-select placeholder="Select the operator" formControlName="operator">
               <mat-option *ngFor = "let obj of operator_field" [value]="obj.value">
                  {{ obj.label }}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field floatLabel="always" fxFlex="25" fxLayoutAlign="start stretch" appearance="outline">
            <mat-select placeholder="Select the value" formControlName="value">
               <!-- ngIf = "formName.condition.type==select" -->
               <mat-option *ngFor = "let obj of value_field" [value]="value_field">
                  {{ obj.label }}
                  <!-- <input required type="text" formControlName="value" placeholder="Enter Text" matInput *ngIf = "value_type==text"> -->
               </mat-option>
            </mat-select>
            </mat-form-field>
      </div>
   </form>
   <div *ngIf="checkCondition()">
      <form class="skip-export--form" [formGroup] = "excludeForm" fxLayout="column" fxLayoutAlign="start stretch">
         <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field floatLabel="always" fxFlex="25" fxLayoutAlign="start stretch" appearance="outline">
               <mat-select placeholder="Select the condition" formControlName="condition_1">
                  <mat-option *ngFor = "let obj of conditional_field" [value]="conditional_field">
                     {{ obj.label }}
                  </mat-option>
               </mat-select>
            </mat-form-field>
            <!-- Here we can actually change as per the option selected above -->
            <mat-form-field floatLabel="always" fxFlex="25" fxLayoutAlign="start stretch" appearance="outline">
               <mat-select placeholder="Select the operator" formControlName="operator_1">
                  <mat-option *ngFor = "let obj of operator_field_temp" [value]="operator_field">
                     {{ obj.label }}
                  </mat-option>
               </mat-select>
            </mat-form-field>
            <!-- fin -->
            <mat-form-field floatLabel="always" fxFlex="25" fxLayoutAlign="start stretch" appearance="outline">
               <mat-select placeholder="Select the value" formControlName="value_1">
                  <mat-option *ngFor = "let obj of value_field" [value]="value_field">
                     {{ obj.label }}
                  </mat-option>
               </mat-select>
            </mat-form-field>
            <div fxFlex="2">
               <img class="skip-export--delete-icon" src="assets/images/pngs/delete.png"
                  (click)="remCondition()">
            </div>
         </div>
      </form>
   </div>
   <div fxLayoutAlign="start stretch" fxLayout="row">
      <img class="skip-export--add-icon" src="assets/images/pngs/add.png" (click)="addCondition()">
      <a class="add-row-text" (click)="addCondition()">
      Add Condition
      </a>
   </div>
   <div class="skip-export--save-btn">
      <button mat-flat-button color="primary" type="submit">    
      Save
      </button>
   </div>
</div>