<div class="content" *ngIf="!isLoading">
    <div class="d-flex content-header">
        Map Employee items from Fyle to their counterparts on NetSuite.
    </div>
    <div class="d-flex content-header">
        <button class="btn main-btn" type="button" (click)="open(content)">Create Employee
            Mapping
        </button>
    </div>
    <div class="alert alert-light mx-auto warning" *ngIf="!employeeMappings.length">
        <p>You have no employee mappings yet</p>
    </div>
    <div class="table-layout" *ngIf="employeeMappings.length">
        <div class="table-responsive">
            <table class="table expense-groups-table">
                <thead class="table-head">
                    <tr class="colHeadings">
                        <th>Employee Email</th>
                        <th *ngIf="generalSettings?.employee_field_mapping == 'VENDOR'">Vendor Name</th>
                        <th *ngIf="generalSettings?.employee_field_mapping == 'EMPLOYEE'">NetSuite Employee Name</th>
                        <th *ngIf="generalSettings?.corporate_credit_card_expenses_object">Credit Card</th>
                    </tr>
                </thead>
                <tbody *ngFor="let employeeMapping of employeeMappings;">
                    <tr class="expense-groups-row">
                        <td>
                            {{ employeeMapping.fyle_value }}
                        </td>
                        <td *ngIf="generalSettings?.employee_field_mapping === 'VENDOR'">
                            {{ employeeMapping.netsuite_value }}
                        </td>
                        <td *ngIf="generalSettings?.employee_field_mapping === 'EMPLOYEE'">
                            {{ employeeMapping.netsuite_value }}
                        </td>
                        <td *ngIf="generalSettings?.corporate_credit_card_expenses_object">
                            {{ employeeMapping.ccc_account }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="employeeMappingModalTitle">Create New Mapping</h5>
        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close"
            (click)="clearModalValues()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body">
            <div class="floating-label">
                <input formControlName="fyleEmployee" class="form-control" type="text" [ngbTypeahead]="emailSearch"
                    [inputFormatter]="emailFormatter" [resultFormatter]="emailFormatter" [editable]='false' />
                <label for="fyleEmployees" class="input-label">Select an Employee from Fyle</label>
                <div class="text-danger mb-2" *ngIf="!emailIsValid">
                    <small>
                        email not found in Fyle
                    </small>
                </div>
            </div>
            <div class="floating-label" *ngIf="generalSettings.employee_field_mapping === 'VENDOR'">
                <input formControlName="netsuiteVendor" type="text" class="form-control" [ngbTypeahead]="vendorSearch"
                    [inputFormatter]="vendorFormatter" [resultFormatter]="vendorFormatter" [editable]='false' />
                <label for="netsuiteVendors" class="input-label">Map to Corresponding NetSuite Vendor</label>
                <div class="text-danger mb-2" *ngIf="!vendorIsValid">
                    <small>
                        Vendor not found in NetSuite
                    </small>
                </div>
            </div>
            <div class="floating-label" *ngIf="generalSettings.employee_field_mapping === 'EMPLOYEE'">
                <input formControlName="netsuiteEmployee" type="text" class="form-control" [ngbTypeahead]="employeeSearch"
                    [inputFormatter]="employeeFormatter" [resultFormatter]="employeeFormatter" [editable]='false' />
                <label for="netsuiteEmployees" class="input-label">Map to Corresponding NetSuite Employee</label>
                <div class="text-danger mb-2" *ngIf="!employeeIsValid">
                    <small>
                        Employee not found in NetSuite
                    </small>
                </div>
            </div>
            <div class="floating-label" *ngIf="generalSettings.corporate_credit_card_expenses_object">
                <input formControlName="creditCardAccount" type="text" class="form-control" [value] = "generalMappings.default_ccc_account_name" [ngbTypeahead]="accountSearch"
                    [inputFormatter]="accountFormatter" [resultFormatter]="accountFormatter" [editable]='true' />
                <label for="creditCardAccounts" class="input-label">Choose Credit Card Account</label>
                <div class="text-danger mb-2" *ngIf="!accountIsValid">
                    <small>
                        Account not found in NetSuite
                    </small>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button id="cancel-btn" class="btn btnInline cancelBtn" type="button" data-dismiss="modal"
                (click)="clearModalValues()">Cancel</button>
            <button id="submit-btn" class="btn btnInline saveBtn" type="submit" name="method">Create</button>
        </div>
    </form>
</ng-template>

<app-loader *ngIf="isLoading"></app-loader>