<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>

<div class="configurations" *ngIf="!isLoading">
  <div class="page-header configurations--header">
    <div class="page-header--name mat-h2">
      NetSuite Connection
    </div>
  </div>

  <div *ngIf="!isLoading && netsuiteConnectionDone">
    <zero-state message="You have connected to your NetSuite Account already" link="Update NetSuite Connection"
    (click)="reconnectNetsuite()"></zero-state>
  </div>

  <div class="page-info" *ngIf="!isLoading && !netsuiteConnectionDone">
    <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
      <div>
        Connect to your NetSuite account to start exporting expense data from Fyle.
      </div>
      <a href="https://www.fylehq.com/help/en/articles/2012953-generating-credentials-for-fyle-netsuite-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
    </div>
  </div>
  <div *ngIf="!netsuiteConnectionDone">
  <form class="configurations--form" [formGroup]="connectNetSuiteForm">
    <div fxLayout="column" fxLayoutAlign="start stretch">

      <div class="mat-body-strong">
        <strong class="mappings-dialog--label">
          NetSuite Account ID
          <mandatory-field></mandatory-field>
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline">
        <input required type="text" formControlName="nsAccountId" placeholder="Enter Account ID" matInput>
      </mat-form-field>
      <mandatory-error-message inputName="Account ID" *ngIf="connectNetSuiteForm.controls.nsAccountId.touched && !connectNetSuiteForm.controls.nsAccountId.valid"></mandatory-error-message>

      <div class="mat-body-strong">
        <strong class="mappings-dialog--label">
          NetSuite Token ID
          <mandatory-field></mandatory-field>
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline">
        <input required type="text" formControlName="nsTokenId" placeholder="Enter Token ID" matInput>
      </mat-form-field>
      <mandatory-error-message inputName="Token ID" *ngIf="connectNetSuiteForm.controls.nsTokenId.touched && !connectNetSuiteForm.controls.nsTokenId.valid"></mandatory-error-message>

      <div class="mat-body-strong">
          <strong class="mappings-dialog--label">
            NetSuite Token Secret
            <mandatory-field></mandatory-field>
          </strong>
        </div>
        <mat-form-field class="mappings-dialog--form-element" appearance="outline">
          <input required type="password" formControlName="nsTokenSecret" placeholder="Enter Token Secret" matInput>
        </mat-form-field>
        <mandatory-error-message inputName="Token Secret" *ngIf="connectNetSuiteForm.controls.nsTokenSecret.touched && !connectNetSuiteForm.controls.nsTokenSecret.valid"></mandatory-error-message>

      <button [disabled]="isSaveDisabled || !connectNetSuiteForm.valid" class="configurations--save-btn" mat-flat-button color="primary" (click)="save()" type="submit">
        Save
      </button>
    </div>
  </form>
  </div>
</div>