<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>
<div class="page-header" *ngIf="!isLoading">
  <div class="page-header--name mat-h2">
    NetSuite Connection
  </div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link (click)="changeState('CONNECT')" [active]="state==='CONNECT'">
      NetSuite
    </a>
    <a mat-tab-link (click)="changeState('SUBSIDIARY')" [active]="state==='SUBSIDIARY'" *ngIf='netsuiteConnectionDone'>
      Subsidiary
    </a>
  </nav>
</div>

<div *ngIf="!isLoading">
  <router-outlet></router-outlet>
</div>