<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>
<div *ngIf="!isLoading">
  <div class="schedule--header mat-h2">
    Automated Import/Export
  </div>

  <form class="schedule--form" [formGroup]="form" data-cy="schedule-form">
    <div class="schedule--select">
      <div fxLayout="row" class="schedule--header-title" fxLayoutAlign="start center">
        Enable Automated Import-Export
        <mat-slide-toggle color="primary" class="schedule--toggle" formControlName="scheduleEnabled">
          <div class="schedule--toggle-text">Enabled</div>
        </mat-slide-toggle>
      </div>
      <div class="schedule--header-info">
        Set up an automatic process for importing expense groups
        <div fxLayout="row">
          from Fyle and exporting them to Netsuite.
          <a href="https://help.fylehq.com/en/articles/4424242-fyle-netsuite-integration" target="_blank"
            rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more
            <mat-icon class="read-more-link--icon">open_in_new</mat-icon>
          </a>
        </div>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div *ngIf="form.controls.scheduleEnabled.value">
        <div fxLayout="column" class="schedule--select" fxLayoutAlign="start stretch">
          <div fxLayout="row" class="schedule--header-title" fxLayoutAlign="start center">
            Select the frequency of the export
            <mandatory-field></mandatory-field>
          </div>
          <div class="schedule--header-info">
            <div fxLayout="row">
              Select the frequency at which you want your Automated import-export to
              happen
            </div>
          </div>
          <mat-form-field class="schedule--dropdown" appearance="outline" required>
            <mat-select placeholder="Select hours" disableOptionCentering panelClass="simpleSelect"
              formControlName="hours" data-cy="schedule-frequency-data">
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{hour}} hour<span *ngIf="hour>1">s</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mandatory-error-message class="schedule--error" customErrorMessage="Please select the frequency hours"
          *ngIf="form.controls.hours.touched && !form.controls.hours.valid"></mandatory-error-message>
        </div>
        <div fxLayout="column" class="schedule--select" fxLayoutAlign="start stretch">
          <div fxLayout="row" class="schedule--header-title" fxLayoutAlign="start center">
            Select an email address to notify upon export failure
            <mat-icon class="info-icon"
             matTooltip="The selected email address will be notified instantly upon export failure"
             [inline]="true" 
             matTooltipPosition="after"
             class="info-icon main">info</mat-icon>
          </div>
          <div class="schedule--header-info">
            <div fxLayout="row">
              You can select one or more email address from the given list,
               or add new one to get email notifications
              <a href="https://help.fylehq.com/en/articles/6064944-how-to-be-notified-when-auto-export-fails-in-fyle-netsuite-integration" target="_blank"
                rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more
                <mat-icon class="read-more-link--icon">open_in_new</mat-icon>
              </a>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field class="schedule--dropdown" appearance="outline" required>
              <mat-select placeholder="Select Admins" disableOptionCentering panelClass="myPanelClass"
                formControlName="emails" multiple data-cy="schedule-selected-email">
                <app-simple-search-select [form]="form"></app-simple-search-select>
                <mat-select-trigger fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxLayout="row">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="selected-email">
                      <div class="display-email">
                        {{form.value.emails ? form.value.emails[0] : ''}}
                      </div>
                      <div fxLayout="column" class="vertical"></div>
                      <div class="mat-icon-close" (click)="delete($event, form.value.emails[0])">
                        <mat-icon>close</mat-icon>
                      </div>
                    </div>
                    <div *ngIf="form.value.emails?.length > 1" class="example-additional-selection">
                      <div class="email-number">
                        +{{form.value.emails.length - 1}}
                      </div>
                    </div>
                  </div>
                  <div *ngIf="form.value.emails?.length > 1" class="delele-all-icon"
                    (click)="delete($event, form.value.emails[0], true)">
                    <mat-icon>close</mat-icon>
                  </div>
                </mat-select-trigger>
                <mat-option 
                  (click)="clearSearchText($event)"
                  *ngFor="let hour of workspaceAdmins | search : form.value.searchOption" class="multiline-mat-option"
                  [value]="hour.email">
                  <div fxLayout="column" fxLayoutAlign="end start">
                    <div>
                      {{hour.name}}
                    </div>
                    <div class="schedule--bottom-name">
                      {{hour.email}}
                    </div>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>

            <span *ngIf="form.controls.hours.value" class="schedule--span-or">or</span>

            <div *ngIf="form.controls.hours.value" fxLayout="row" class="cursor-pointer" fxLayoutAlign="start center" (click)="open()" data-cy="add-email">
              <img class="schedule--add-btn" src="assets/images/pngs/add.png">
              <span class="schedule--span-or">Add new email address</span>
            </div>
          </div>
        </div>

      </div>
      <button [disabled]="!form.valid" *ngIf="form.controls.scheduleEnabled.value" class="schedule--save-btn"
        mat-flat-button color="primary" type="submit" (click)="submit()" data-cy="save-btn">
        Save
      </button>
    </div>
  </form>
</div>
