@import 'variables.scss';

$text-error: #ff6e40;
$fy-dashboard-text: #5e5e5e;
$fy-dashboard-stat-icon: #a9acbc;
$stats-desc: #545454;
$fy-info-border: rgba(0, 98, 255, 0.04);
$fy-info-content: rgba(0, 98, 255, 0.02);

::ng-deep .expense-fields {
  &--header {
    border-bottom: 1px solid $fy-layout-background;
  }

  &--form {
    font-size: 14px;
    margin: 24px;
    max-width: 1000px;
    color: $fy-nav-text;
  }

  &--add-icon {
    text-align: center;
    cursor: pointer;
    padding-left: 10px;
    padding-bottom: 25px;
    max-width: 24px;
    max-height: 24px;
  }

  &--custom-option {
    font-weight: 500;
    padding-bottom: 10px;
  }

  &--custom-option-text {
    padding-left: 25px;
  }

  &--add-custom-icon {
    text-align: center;
    position: absolute;
    max-width: 20px;
    max-height: 24px;
    padding: 10px 0px;
  }

  &--delete-icon {
    text-align: center;
    cursor: pointer;
    max-width: 24px;
    max-height: 24px;
    padding-left: 10px;
    padding-bottom: 25px;
  }

  &--label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &--input {
    .mat-select-value-text {
      color: $fy-nav-text;
    }
  }

  &--save-btn {
    max-width: 32px;
  }

  &--errors {
    font-size: 14px;
    margin: 0 0 16px;
    color: $text-error;
    margin-top: 12px;
    position: relative;
    top: -12px;
  }
}

.toggle {
  margin-bottom: 32px;
  &--header {
    border-bottom: 1px solid $fy-layout-background;
  }
}

.info-icon {
  text-align: center;
  cursor: pointer;
  padding-left: 5px;
  padding-bottom: 5px;
  max-width: 24px;
  max-height: 24px;
  font-size: 20px;
  vertical-align: middle;
  color: #5C98E5;
}

.warning-info-icon {
  text-align: center;
  cursor: pointer;
  padding-left: 5px;
  padding-bottom: 5px;
  max-width: 24px;
  max-height: 24px;
  font-size: 20px;
  vertical-align: middle;
  color: #DA1E28;
}

.import-info-icon {
  text-align: center;
  cursor: pointer;
  padding-left: 5px;
  padding-bottom: 5px;
  max-width: 24px;
  max-height: 24px;
  font-size: 20px;
  vertical-align: middle;
}

.dashboard {
  color: $fy-dashboard-text;

  &--stats {
    &-card {
      min-width: 85%;
      border: 1px solid $fy-card-border;
      margin-left: 50%;
    }
  }
}

.select {
  max-height: 30px;
}
